<class class="comment-container">
    <section class="header">
        <h3 class="author-id">sniff sniff</h3>
    </section>

    <section class="comment">
        <p class="comment-entry">this is confoosing</p>
    </section>
</class>
