<section id="carousel_hero" class="hero-carousel" data-u-ride="carousel" data-interval="2750">
    <ol class="u-absolute-hcenter u-carousel-indicators u-block-60ee-2">
       <li data-u-target="#carousel_hero" data-u-slide-to="0" class="u-active u-grey-30"></li>
       <li data-u-target="#carousel_hero" class="u-grey-30" data-u-slide-to="1"></li>
       <li data-u-target="#carousel_hero" class="u-grey-30" data-u-slide-to="2"></li>
       <li data-u-target="#carousel_hero" class="u-grey-30" data-u-slide-to="3"></li>
    </ol>
    <div class="hero-carousel-inner" role="listbox">
       <div class="u-active u-align-left u-carousel-item u-clearfix u-image
       u-image-contain hero-carousel-inner-1" src="" data-image-width="1527"
       data-image-height="763">
          <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"></div>
       </div>
       <div class="u-align-center u-carousel-item u-clearfix u-image u-shading hero-carousel-inner-2" src="" data-image-width="1200" data-image-height="675" data-href="https://store.steampowered.com/app/1517290/Battlefield_2042/" data-target="_blank">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
       </div>
       <div class="u-align-center u-carousel-item u-clearfix u-image u-shading hero-carousel-inner-3" src="" data-image-width="460" data-image-height="215" data-href="https://store.steampowered.com/app/1063730/New_World/" data-target="_blank">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
       </div>
       <div class="u-align-center u-carousel-item u-clearfix u-image u-shading hero-carousel-inner-4" src="" data-image-width="5338" data-image-height="3003" data-href="https://store.steampowered.com/agecheck/app/1252330/" data-target="_blank">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
       </div>
    </div>
    <a class="u-absolute-vcenter carousel-control u-carousel-control-prev u-hover-black u-icon-circle u-palette-5-dark-1 u-spacing-7 u-text-body-alt-color u-text-hover-custom-color-1 u-block-60ee-3" href="#carousel_hero" role="button" data-u-slide="prev">
        <span aria-hidden="true">
           <svg viewBox="0 0 256 256">
              <g>
                 <polygon points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128"></polygon>
              </g>
           </svg>
        </span>
        <span class="sr-only">
           <svg viewBox="0 0 256 256">
              <g>
                 <polygon points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128"></polygon>
              </g>
           </svg>
        </span>
     </a>
     <a class="carousel-control u-carousel-control-next u-hover-black u-icon-circle u-palette-5-dark-1 u-spacing-7 u-text-body-alt-color u-text-hover-custom-color-1 u-block-60ee-4" href="#carousel_hero" role="button" data-u-slide="next">
        <span aria-hidden="true">
           <svg viewBox="0 0 306 306">
              <g id="chevron-right">
                 <polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"></polygon>
              </g>
           </svg>
        </span>
        <span class="sr-only">
           <svg viewBox="0 0 306 306">
              <g id="chevron-right">
                 <polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"></polygon>
              </g>
           </svg>
        </span>
     </a>
  </section>