{{!-- Generate Hero Banner Slideshow from Game DB --}}

{{#if (if_first @index)}}
<div class="carousel-item active">
{{else}}
<div class="carousel-item">
{{/if}}
  <img src="{{game_image_URL}}" class="d-block w-100" alt="{{game_name}}">
</div>
