{{#if (if_first @index)}}
<li class="carousel__slide current-slide">
{{else}}
<li class="carousel__slide">
{{/if}}
  <a href="{{game_video_URL}}">
    <img class="carousel__image" src="{{game_image_URL}}" alt="{{game_name}}">
  </a>
</li>
