<section class="u-clearfix u-grey-70 join-block" id="sec-185b">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-sheet-1">
        <div
            class="u-align-left u-border-3 u-border-black u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-left-0 u-shape u-shape-1">
        </div>
        <div
            class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div
                        class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-60 what-the-blog-block u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-custom-font u-text u-text-body-color u-text-default what-the-blog u-text-1">
                                What the<span style="font-weight: 700;"></span> blog?
                            </h3>
                            <p class="u-align-left-sm u-align-left-xs u-custom-font
                      u-text what-the-blog-blurb u-text-2">Join our community
                                forum and connect with like-minded ga​mers and fanatics
                                that want to hear what you have to say! Sign up for
                                free today!</p>
                            <a href="/register"
                                class="u-black u-border-2 u-border-black u-btn u-button-style u-hover-black u-text-active-palette-3-dark-2 u-text-body-alt-color u-text-hover-custom-color-1 what-the-blog-button u-btn-1">Learn
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>