<section class="twitch-carousel-container text-center">
    <h2 class="font-weight-light">TRENDING STREAMS</h2>
    <div id="twitchCarousel" class="carousel slide w-100 h-350" data-ride="t_carousel">
        <a class="carousel-control-prev" href="#twitchCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#twitchCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <div class="t_carousel-inner w-100" role="listbox">
            <div class="d-flex carousel-item active twitch-card">
                <div class="card card-body">
                    <img class="img" src="/images/logo.png" alt="game-play image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="player-name">PLayer name</h5>
                        <p class="game-name">Game Name</p>
                    </div>
                </div> 
                <div class="card card-body">
                    <img class="img-fluid" src="/images/logo.png" alt="game-play image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="player-name">PLayer name</h5>
                        <p class="game-name">Game Name</p>
                    </div>
                </div>
                <div class="card card-body">
                    <img class="img-fluid" src="/images/logo.png" alt="game-play image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="player-name">PLayer name</h5>
                        <p class="game-name">Game Name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- 
                    {{#each streams as |stream|}}
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ stream.game-image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ stream.player-name }}</h5>
                                <p class="game-name"> {{ stream.game-name }}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}} 