{{#each games as |game|}}
<div class="card twitch-card">
    <img class="img w-100" src="{{ game_image_URL }}" alt="game-play image">
    <div class="carousel-caption d-none d-md-block">
        <h5 class="player-name">{{ id }}</h5>
        <p class="game-name"> {{ game_name }}</p>
    </div>
</div>
{{/each}}

