<class class="container">
    <section class="header">
        <h1 class="forum-header">Create New Forum Post</h1>
    </section>
    <form class='new-forum-post'>
      <label for='forum_title'>Title:</label>
      <br />
      <textarea id='forum_title' name='forum_title' rows='2' cols='30'></textarea>
      <br />
      <label for='entry'>Content:</label>
      <br />
      <textarea id='entry' name='entry' rows='5' cols='30'></textarea>
      <br />
      <button type='submit' value='Submit'>Submit</button>
    </form>
</class>

<script src="/js/new-post.js"></script>
