<class class="container">
    <section class="header">
        <h1 class="forum-title">Create New Forum Post</h1>
    </section>
    <form class='new-blog-post'>
      <label for='post_name'>Title:</label>
      <br />
      <textarea id='post_name' name='post_name' rows='2' cols='30'></textarea>
      <br />
      <label for='content'>Content:</label>
      <br />
      <textarea id='content' name='content' rows='5' cols='30'></textarea>
      <br />
      <button type='submit' value='Submit'>Submit</button>
    </form>
</class>