<class class="container text-center">
    <section class="whats-up-header">
        <img src="/images/new-post-header.png" alt="whats up header"/>
        <h2 class="blurb text-center">We want to hear what you have to say! Create a new post for the UBIQUITOUS community forum now!</h2>
    </section>
    <form class='new-forum-post'>
      <h4 class='forum_title'>Title:</h4>
      <textarea id='forum_title' name='forum_title' rows='2' cols='75'></textarea>
      <br />
      <h4 class='entry'>Content:</h4>
      <textarea id='entry' name='entry' rows='20' cols='75'></textarea>
      <br />
      <img class="new-post-gif" src="/images/new-post-gif.gif" alt="dancing men">
      <div class="button">
        <button class="post-it-btn" type='submit' value='Submit'>POST IT!</button>
      </div>
    </form>
</class>

<script src="/js/new-post.js"></script>
