<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Create A New Post">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Create New Post</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Create-New-Post.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.26.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee:400|Permanent+Marker:400">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/UBIQUITOUS2.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Create New Post">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-black u-clearfix u-header u-valign-middle-sm u-valign-middle-xs u-header" id="sec-02d3"><a href="Home.html" data-page-id="542203740" class="logo u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Home">
        <img src="images/UBIQUITOUS2.png" class="u-logo-image u-logo-image-1">
      </a><nav class="nav-pane u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse u-custom-font" style="font-size: 1.5rem; letter-spacing: -1px; font-family: &quot;Permanent Marker&quot;;">
          <a class="u-button-style u-custom-color-1 u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-color u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="font-size: calc(1em + 10px); background-image: none;">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-nav u-spacing-0 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-2" href="Home.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-2" href="Leaderboard.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Leaderboard</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-2" href="Blog.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Blog</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-2" href="Page-1.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Login</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-2" href="Register.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Register</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Leaderboard.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Leaderboard</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Blog.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Blog</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Page-1.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Login</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Register.html" style="padding: 10px; text-shadow: 2px 4px 8px rgba(32,226,58,0.4);">Register</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav></header>
    <section class="u-align-center u-clearfix u-grey-40 u-section-1" id="sec-7f98">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-text u-text-body-color u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Create A New Post</h2>
        <div class="u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-5546" class="u-custom-font u-font-courier-new u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Enter your Name" id="name-5546" name="name" class="u-border-1 u-border-grey-40 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group">
              <label for="email-5546" class="u-custom-font u-font-courier-new u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Enter the Post Title" id="email-5546" name="title" class="u-border-1 u-border-grey-40 u-input u-input-rectangle u-white" required="required">
            </div>
            <div class="u-form-group u-form-message">
              <label for="message-5546" class="u-custom-font u-font-courier-new u-form-control-hidden u-label"></label>
              <textarea placeholder="Enter your content" rows="20" cols="50" id="message-5546" name="content" class="u-border-1 u-border-grey-40 u-input u-input-rectangle u-white" required="" maxlength="100"></textarea>
            </div>
            <div class="u-form-group u-form-group-4">
              <label for="text-41de" class="u-custom-font u-font-courier-new u-label">image URL (optional)</label>
              <input type="text" placeholder="image URL" id="text-41de" name="img" class="u-border-1 u-border-grey-40 u-input u-input-rectangle u-white">
            </div>
            <div class="u-align-right u-form-group u-form-submit">
              <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-palette-5-dark-3 u-text-body-alt-color u-text-hover-white u-btn-1">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    
    
    
    <footer class="footer u-black u-clearfix u-footer u-footer" id="sec-a5e1"><a href="https://nicepage.com" class="footer-logo u-hidden-xs u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
        <img src="images/UBIQUITOUS2.png" class="u-logo-image u-logo-image-1">
      </a><h3 class="footer-link u-custom-font u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-white u-text-custom-color-1 u-text-hover-palette-3-dark-1 u-btn-1" href="Register.html" data-page-id="2861620506">Not a member...yet? Sign up today!</a>
      </h3></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/templates" target="_blank">
        <span>Free Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>HTML Website Builder</span>
      </a>. 
    </section>
  </body>
</html>