<section class="text-center">
  <img class="section-header comm-forum center" src="/images/forum-header.png">
  {{log 'this' forumPost}}
  {{#each forumPosts as |forum|}}
  <a href="/forum/new-post">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn">CREATE A NEW POST</button>
    </div>
  </a>
  <section class="forum-row-1">
    <a href="/forum/{{id}}"></a>
      <div class="card">
        <img class="blog-post-image" src="/images/logo.png">
        <div class="card-text">
          <h4 class="card-title center">{{title}}</h4>
          <p class="card-author center">{{author}}</p>
          <button class="read-more-btn">Read More</button>
        </div>
      </div>
      </section>
    </a>
  </section>
</section>
