<class class="container">
    <section class="header">
        <h1 class="forum-title">{{title}}</h1>
        <a href="/profile/{{author_id}}">
            <h3 class="author-id">{{author}}</h3>
        </a>
    </section>

    <section class="entry">
        <p class="forum-entry">{{entry}}</p>
    </section>

    <section class="comments">
    {{> comments}}
    </section>
</class>

<a href="/user/newPost">
    <button class="create-new-post">Add Post</button>
</a>
<a href="/forum">
    <button class="back-button">Back</button>
</a>
