<div class="card">
    <div class="card-body" style="background-color: white; color: black; padding: 5rem">
        <h1 class="card-subtitle">{{title}}</h1>
        <a href="/user/{{author_id}}">
            <h1 class="card-subtitle">{{user.username}}</h3>
        </a>
        <p class="card-text" style="background-color: white; color: black">{{entry}}</p>
    </div>
</div>

<div class="card" style="background-color: #7ED857; width: 50%; padding: 1rem; color: black; margin-bottom: 5px; margin-top: 5px">
    <form class='new-comment'>
        <h4 for='comment' style="background-color: #7ED857; color: black;">Comment</h4>
        <div class="display" style="display: flex; align-items: flex-end">
            <textarea id='comment' name='comment' rows='3' cols='30'></textarea>
            <button style="margin-left: 1rem;" class="btn btn-dark" type='submit' value='Submit'>Submit</button>
        </div>
    </form>

</div>

<div class="comments-container">
    {{> comments }}
</div>

<a href="/user/newPost">
    <button class="btn btn-outline-light create-new-post">Add Post</button>
</a>

<a href="/forum">
    <button class="btn btn-outline-light back-button">Back</button>
</a>

<script src="/js/new-comment.js"></script>
