<class class="container">
    <section class="header">
        <h1 class="forum-title">{{title}}</h1>
        <h3 class="author-id">{{author_id}}</h3>
    </section>

    <section class="entry">
        <p class="forum-entry">{{entry}}</p>
    </section>

    <section class="comments">
    {{> comments}}
    </section>
</class>