<section class="forum text-center">
  <img class="forum-header" src="./images/forum-page-header.png">
</div>
<a href="/forum/new-post">
  <div class="d-grid gap-2 col-6 mx-auto">
    {{#if loggedIn}}
    <a href="/user/newPost">
      <button class="create-new-btn">CREATE A NEW POST</button>
    </a>
    {{else}}
    <button id='forumModal' class='forumModal'>Login</button>
    {{/if}}
  </div>
</a>

<div class="card-group">
  {{#each forumPosts as |forum|}}
  <a href="/forum/{{id}}"></a>
  <div class="card forum-card">
    <img class="blog-post-image" src="/images/logo.png">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-author">{{author}}</p>
      <button class="read-more-btn">Read More</button>
    </div>
  </div>
{{/each}}

