<div>
  <img class="forum-header" src="./images/forum-page-header">
</div>
{{#each forumPosts as |forum|}}\
<a href="/forum/new-post">
  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/user/newPost">
      <button class="btn">CREATE A NEW POST</button>
    </a>
  </div>
</a>
<section class="forum-row">
      <a href="/forum/{{id}}">
        <div class="card forum-card">
          <img class="blog-post-image" src="/images/logo.png">
          <div class="card-text">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-author">{{author}}</p>
          </div>
          <button class="read-more-btn">Read More</button>
      </div>
    </a>
</section>
{{/each}}

