<section class="forum text-center">
  <img class="forum-header" src="./images/forum-page-header.png">
</div>
<a href="/forum/new-post">
  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/user/newPost">
      <button class="create-new-btn">CREATE A NEW POST</button>
    </a>
  </div>
</a>

<div class="row row-cols-1 row-cols-md-3">
  {{#each forumPosts as |forum|}}
  <div class="col mb-5">
    <div class="card forum-card">
      <img class="blog-post-image" src="/images/logo.png">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-author">{{author}}</p>
        <a href="/forum/{{id}}">
          <button class="read-more-btn">Read More</button>
        </a>
      </div>
    </div>
  </div>
{{/each}}
</div>
