{{!-- // Home page carousel and game banners --}}
<section class="hero">   
  <div id="herosel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {{#each games as |game|}}
      {{> home-button-nav }}
    {{/each}}
    </div>
    <div class="carousel-inner">
      {{#each games as |game|}}
        {{> home-banner }}
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#herosel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#herosel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="twitch-carousel-container text-center">
  <div>
    <img class="section-header" src="/public/images/trending-header.png">
   </div>
  <div id="twitchCarousel" class="t__carousel slide w-100" data-ride="t_carousel">
        <div class="t_carousel-inner w-100" role="listbox">
            <div class="d-flex carousel-item active twitch-card">
                {{#each games as |game|}}
                {{> twitch-cards }}
                {{/each}}
              </div>
            </div>
        </div>
    </div>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active carousel__indicator" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"  class="active carousel__indicator" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"  class="active carousel__indicator" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="active carousel__indicator" aria-label="Slide 4"></button>
</section>

<section class="forum-advert">
  <div>
    <img class="section-header" src="/public/images/blog-header.png">
  </div>
  <div>
    <img class="forum-ad-gif" src="/public/images/forum-advert.gif">
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src='/js/carousel.js'></script>
