{{!-- // Home page carousel and game banners --}}
{{#each games as |game|}}
<section class="game-banner">
    <a href="/banner/{{id}}">
      <div class="game-header">
        <h4>{{game_name}}</h4>
      </div>
    </a>
  <img class="game-img" src="{{game_image_URL}}">
</section>
{{/each}}
