{{!-- // Home page carousel and game banners --}}

<section class="carousel mb-5">
  <div class="carousel__track-container">
    <ul class="carousel__track">
      {{#each games as |game|}}
      {{> home-banner }}
      {{/each}}
    </ul>
  </div>
  <div class="carousel__nav">
    {{#each games as |game|}}
    {{> home-button-nav }}
    {{/each}}
  </div>
  <button class="carousel__button carousel__button--left"></button>
  <button class="carousel__button carousel__button--right"></button>
</section>
<section class="twitch-carousel-container text-center">
    <img class="section-header" src="/public/images/trending-header.png">
    <div id="twitchCarousel" class="t__carousel slide w-100" data-ride="t_carousel">
        <div class="t_carousel-inner w-100" role="listbox">
            <div class="d-flex carousel-item active twitch-card">
                {{#each games as |game|}}
                {{> twitch-cards }}
                {{/each}}
              </div>
            </div>
        </div>
    </div>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active carousel__indicator" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"  class="active carousel__indicator" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"  class="active carousel__indicator" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="active carousel__indicator" aria-label="Slide 4"></button>
</section>
<section class="forum-advert">
  <div class="forum-container">
    <img class="section-header" src="/public/images/blog-header.png">
  </div>
  <div>
    <img class="section-header" src="/public/images/forum.gif">
  </div>
</section>
