{{!-- // Home page carousel and game banners --}}

<section class="carousel">
  <button class="carousel__button carousel__button--left is-hidden">
    {{!-- <img src="" alt="" srcset=""> --}}
  </button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      {{#each games as |game|}}
      {{> home-banner }}
      {{/each}}
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">
    {{!-- <img src="" alt="" srcset=""> --}}
  </button>
  <div class="carousel__nav">
    {{#each games as |game|}}
    {{> home-button-nav }}
    {{/each}}
  </div>
</section>
