<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ubiquitous</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero">
        <div class="main">
                <nav class="nav">
                    <h1>Tech Blog</h1>
                    <a class="links" href="#home">HOME</a>
                    <a class="links" href="#dashboard">DASHBOARD</a>
                    {{#if loggedIn}}
                    <a class="links" href="#logout">LOGOUT</a>
                    {{else}}
                    <a class="links" href="#login">LOGIN</a>
                    {{/if}}
                </nav>
            <h1>Tech Blog</h1>
         </div>
    </header>
    <main>
        {{{ body }}}
    </main>
</div>
    {{#if loggedIn}}
    <script src="/script/logout.js"></script>
    {{/if}}
</body>

</html>