<class class="profile-container">
    <section class="header">
        <h3 class="author">{{author}}</h3>
    </section>

    <section class="content">
        <p class="twitch">{{twitch_link}}</p>
        <p class="twitch">{{youtube_link}}</p>
        <p class="twitch">{{bio}}</p>
    </section>
</class>