<form action ='api/users/register' method='post' id='register'>
<div class='container'>
    <h1>Lets get you signed up!</h1>
<label  class="form-label" for='email'>Please enter your email.</label>
<input
            type='email'
            id='email'
            name='email'
            placeholder='Supergoodgamer@email.com'
            class="form-control"/>
<label  class="form-label" for='password'>What would you like to make your password?
  (Please use atleast one capital letter and one number or special character)</label><br />
          <input
            type='password'
            id='password'
            name='password'
            minlength='8'
            maxlength='50'
            {{! THIS MAKES THE PASSWORD REQUIRE A FEW THIGS }}
            pattern='^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,50}$'
            placeholder="*******"
            required
            class="form-control"
          />
<label  class="form-label" for=''>Please link your twitch account here(use the twitch.tv link on your channel)</label><br />
          <input
            type='text'
            id='twitch_link'
            name='twitch_link'
            class="form-control"/>
<label  class="form-label" for=''>Please enter your youtube link here(use your channel link)</label><br />
          <input
            type='text'
            id='twitch_link'
            name='twitch_link'
            class="form-control"/>
    <p>By submitting information you agree to our terms found <a href='#'>here</a></p>

        <button type="submit" class="btn btn-primary">Signup</button>
    </div>
  </div>

</form>
