  <div id='registrationModal' class='modal' style="display:none;">
    <div class='modalContent'>
      <div class='modalHeader'>
        <span id='closeBtn'>&#x2718;</span>
        <h2>Registration</h2>
      </div>
      <div class='modalBody'>
        <form action='/api/users/register' method='post' id='info'>
        <form id="info">
          <label for='email'>Please enter your email</label><br />
          <input
            type='email'
            id='modalEmail'
            name='email'
            value='Supergoodgamer@email.com'
          /><br />
          <label for='password'>Please create your password(min of 8, include aA1!)</label><br />
          <input
            type='password'
            id='modalPassword'
            name='password'
            minlength='8'
            maxlength='50'
            {{! THIS MAKES THE PASSWORD REQUIRE A FEW THINGS }}
            pattern='^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,50}$'
            required
          /><br />
          <label for='twitch_link'>Please enter your twitch link</label><br />
          <input
            type='url'
             placeholder="https://www.twitch.tv/"
            pattern="https://.*" size="30"
            />
          <label for='youtube_link'>Please enter your youtube link</label><br />
          <input
            type='url'
             placeholder="https://www.youtube.com/c/"
            pattern="https://.*" size="30"
            />
          <button type='submit' class='submitModal' id='submit'>
            LETS GO!
          </button>
        </form>
      </div>
    </div>
  </div>
