<form action ='api/users/register' method='post' id='register'>
<div class='container'>
    <h1>Lets get you signed up!</h1>
    {{!-- <div class="input-group mb-3"> --}}
    <label class="form-label" for='username'>What would you like your Username to be?</label>
    <div class="input-group mb-3">
     <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
<label  class="form-label" for='email'>Please enter your email.</label>
<input
            type='email'
            id='email'
            name='email'
            placeholder='Supergoodgamer@email.com'
            class="form-control"/>
<label  class="form-label" for='password'>What would you like to make your password?
  (Please use atleast one capital letter and one number or special character)</label><br />
          <input
            type='password'
            id='password'
            name='password'
            minlength='8'
            maxlength='50'
            {{! THIS MAKES THE PASSWORD REQUIRE A FEW THIGS }}
            pattern='^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,50}$'
            placeholder="*******"
            required
            class="form-control"
          />
<label class="form-label" for='twitchLink'>Enter your twitch name</label>
{{!-- Please link your twitch account here(use the twitch.tv link on your channel)</label><br /> --}}
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://www.twitch.tv/</span>
          <input
            type='text'
            id='twitch_link'
            name='twitch_link'
            class="form-control"/>
            </div>
<label  class="form-label" for='youtubeLink'>Please enter your youtube link here(it can be found in your channel settings)</label><br />
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://www.youtube.com/c/</span>
          <input
            type='text'
            id='youtube_link'
            name='youtube_link'
            class="form-control"/>
            </div>
            </br>

    <p>By submitting information you agree to our terms found <a href='#'>here</a></p>

        <button type="submit" onclick="btnClicked()" class="btn btn-primary">Signup</button>
    </div>
  </div>
</form>
<script>
 function btnClicked(){
window.location.href="/home";
 }
</script>