
h3 {
    font-size:54px;
    margin-top: 40px;
    font-family: 'permanent marker';
    color:lime;
}

.forum-header {
    height:200px;
    width: 60%;
}

.create-new-btn {
    font-family: monospace;
    color:lime;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
    background: linear-gradient(180deg, dimgrey, transparent);
    border: solid white thick;
    height: 50px;
    width: 55%;
    margin-bottom:5%;
}
.blog-post-image {
    height: 90%;
    width: 30%;
    border: white solid thin;
    margin-left: 20px;
    margin-top: 10px;
}

.forum-card {
    background: linear-gradient(45deg, dimgrey, transparent);
    border: solid white thick;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    height: 250px;
}

.card-title {
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: monospace;
    font-size:28px;
    font-weight: bold;
    color: white;
}

.card-author {
    color: white;
    font-size: 20px;
    background-color: none;
    border: solid thin lime;
}

.card-body {
    width: 100%;
    text-align: center;
}

.read-more-btn {
    font-family: 'Permanent Marker';
    color:lime;
    font-size: 18px;
    background: black;
    border: solid white thin;
    height: 30px;
    width: 60%;
}

