.blurb {
    width: 75%;
    margin: auto;
    font-family: monospace;
    margin-top: 2%;
    margin-bottom: 2%;
}

.new-post-gif {
    height: 500px;
    width: 100%;
    margin-top:-42%;
}

h4 {
    font-size:32px;
    font-family: 'permanent marker';
    color: lime;
}

textarea {
    background-color:rgb(230, 224, 224);
}
.post-it-btn {
    background-color: lime;
    border-color: white thin solid;
    font-family: 'permanent marker';
    font-weight: bold;
    font-size:24px;
    color: black;
}