.blurb {
    width: 75%;
    margin: auto;
    font-family: monospace;
    margin-top: 2%;
    margin-bottom: 2%;
}

.new-post-gif {
    height: 500px;
    width: 70%;
    margin-top:-28%;
    margin-left: 1%;
}

h4 {
    font-size:36px;
    font-family: monospace;
    color: lime;
}

textarea {
    background-color:rgb(230, 224, 224);
}
.post-it-btn {
    background-color: black;
    border: white thin solid;
    font-family: 'permanent marker';
    font-weight: bold;
    font-size:24px;
    color: lime;
}

:hover.post-it-btn {
    background-color: lime;
    color: black;
}