.main-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ubMainLink {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 15px;
}

:hover.ubMainLink{
    color: yellowgreen;
}

li {
    display: inline;
    padding-right: 10px;
}

.light {
    color: white;
}

.dark {
    background: black;
}

.logo {
    margin-left: 50px;
}

.logo-image {
    width: 15%;
}

.main-nav {
    margin: 0 25px 10px 0;
}


.footer {
    background-color:black;
}

.text-uppercase {
    font-size:18px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: limegreen;
}
.logo-footer {
    width: 40%;
    margin-left: 120px;
}
.me-5 {
    font-family: monospace;
}
.mt-3 {
    align-items: flex-start;
}
.mb-4 {
    margin-top: -2%;
}
h6 {
    border: solid 3px white;
}
p {
    text-align: center;
    font-family: monospace;
    margin-top: -5%;
}



@media (max-width: 1199px) {

    }
  }
  
@media (max-width: 991px) {
    li {
    font-size:16px;
}
}
  
@media (max-width: 767px) {
    li {
        font-size:16px;
    }
  }
  
  @media (max-width: 575px) {
    li {
        font-size:16px;
    }
  }
