:root {
    --def-clr-light: white;
    --def-clr-dark: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ubMainLink {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 16px;
}

:hover.ubMainLink{
    color: yellowgreen;
}

li {
    display: inline;
    padding-right: 10px;
    margin-right: 20px;
}

.light {
    color: var(--def-clr-light);
}

.dark {
    background: var(--def-clr-dark);
}

.logo {
    margin: 15px;
    margin-left: 50px;
    padding: 5px;
    border: 5px solid white;
}

.logo-text {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 0px;
    color: yellowgreen;
}

.underline {
    text-decoration: underline;
}

/* Home Page Banner CSS */
.carousel {
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    position: relative;
    background: var(--def-clr-dark);
    height: 100%;
    padding: 10px;
}

.carousel__track-container h1 {
    color: var(--def-clr-light);
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel__track-container h3 {
    color: var(--def-clr-light);
    position: absolute;
    top: 0;
    left: 0;
}

.carousel__track {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    border: 0;
    top: 50%;
    height: 200px;
    cursor: pointer;
    background: red;
    transform: translateY(-50%);
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    margin: 0 12px;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,.3);
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}