:root {
    --def-clr-light: white;
    --def-clr-dark: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.hero {
    margin-top: 10px;
    border: solid;
}
h6 {
    border: solid 3px white;
}
p {
    text-align: center;
    font-family: monospace;
    margin-top: -5%;
    background-color: black;
    font-size: 18px;
}


.light {
    color: var(--def-clr-light);
}

.dark {
    background: var(--def-clr-dark);
}

/*Text*/
.text-uppercase {
    font-size:18px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: limegreen;
}

/*Bootstrap Overrides*/
mt-5 {
    margin-top:1rem!;
}

.me-5 {
    font-family: monospace;
}
.mt-3 {
    align-items: flex-start;
}

.mt-5 {
    border-top: solid white thin;
}
.mb-4 {
    margin-top: -2%;
}


.img-fluid {
    height: 450px;
    opacity: 0.4;
}
/*LOGO*/
.logo {
    margin-left: 50px;
}

.logo-image {
    width: 25%;
}


/*Nav Bar*/
.main-nav {
    margin: 0 25px 10px 0;
}
.main-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1%;
}

.section-header {
    width: 75%;
}

.ubMainLink {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 22px;
}

:hover.ubMainLink{
    color: yellowgreen;
}

li {
    display: inline;
    padding-right: 10px;
    margin-right: 20px;
}

/*forum advert*/
.forum-ad-gif {
    border: solid white thick;
}

/*footer*/
.foot {
    background-color: black;
}

.icon {
    background-color: white;
}