.img-fluid {
    height: 450px;
}

.font-weight-light {
    margin-top: 10%;
}

.player-name {
    font-family: 'Permanent Marker';
    font-size: 32px;
    color: lime;
    background-color:black;
}


.font-weight-light {
    margin-bottom: 30px;
    font-family: 'permanent marker';
    font-size:54px;
    color: lime;
}

.t__carousel {
    height: 500px;
}

.card-text {
    background-color: none;
}

.card-body {

    height: 450px;
}
.img {
    height: 425px;
    width: -webkit-fill-available;
}

.section-header {
    height:100px;
    margin-top: 10%;
    margin-bottom: 2%;
}