.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-1 .u-text-1 {
  font-family: Bungee;
  font-size: 3.375rem;
  text-shadow: 2px 2px 8px rgba(32,226,58,0.4);
  margin: 174px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 45px auto 0 0;
}

.u-section-1 .u-blog-1 {
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 607px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 29px;
}

.u-section-1 .u-image-1 {
  height: 232px;
  width: 191px;
  box-shadow: 8px 2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.9);
  margin: 4px auto 0 1px;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  margin: -225px 106px 0 226px;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 20px auto 0 226px;
}

.u-section-1 .u-text-3 {
  margin: 20px 1px 0 226px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 34px 0 -4px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 29px;
}

.u-section-1 .u-image-2 {
  height: 232px;
  width: 191px;
  box-shadow: 8px 2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.9);
  margin: 4px auto 0 1px;
}

.u-section-1 .u-text-4 {
  font-family: Roboto, sans-serif;
  margin: -225px 106px 0 226px;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 20px auto 0 226px;
}

.u-section-1 .u-text-5 {
  margin: 20px 1px 0 226px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 34px 0 -4px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 29px;
}

.u-section-1 .u-image-3 {
  height: 232px;
  width: 191px;
  box-shadow: 8px 2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.9);
  margin: 4px auto 0 1px;
}

.u-section-1 .u-text-6 {
  font-family: Roboto, sans-serif;
  margin: -225px 106px 0 226px;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 20px auto 0 226px;
}

.u-section-1 .u-text-7 {
  margin: 20px 1px 0 226px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 34px 0 -4px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 29px;
}

.u-section-1 .u-image-4 {
  height: 232px;
  width: 191px;
  box-shadow: 8px 2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.9);
  margin: 4px auto 0 1px;
}

.u-section-1 .u-text-8 {
  font-family: Roboto, sans-serif;
  margin: -225px 106px 0 226px;
}

.u-section-1 .u-metadata-4 {
  font-size: 0.875rem;
  margin: 20px auto 0 226px;
}

.u-section-1 .u-text-9 {
  margin: 20px 1px 0 226px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 34px 0 -4px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 501px;
  }

  .u-section-1 .u-image-1 {
    width: 163px;
    margin-top: 44px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -231px;
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-2 {
    width: 163px;
    margin-top: 44px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -231px;
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-metadata-2 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-3 {
    width: 163px;
    margin-top: 44px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -231px;
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-metadata-3 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-4 {
    width: 163px;
    margin-top: 44px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -231px;
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-metadata-4 {
    margin-right: 183px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 183px;
    margin-left: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  }

  .u-section-1 .u-image-1 {
    height: 268px;
    width: 268px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -267px;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    width: auto;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 268px;
    width: 268px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -267px;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-2 {
    width: auto;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 268px;
    width: 268px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -267px;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-3 {
    width: auto;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 268px;
    width: 268px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -267px;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-4 {
    width: auto;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 309px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: -121px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 296px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-4 {
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 77px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-image-1 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 66px;
  }

  .u-section-1 .u-image-2 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 66px;
  }

  .u-section-1 .u-image-3 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 66px;
  }

  .u-section-1 .u-image-4 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 66px;
  }
}