.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-text-1 {
  font-family: Bungee;
  font-size: 4.5rem;
  text-shadow: 2px 5px 8px rgba(32,226,58,0.4);
  margin: 31px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-block-9be3-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-table-cell-38 {
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-block-9be3-35 {
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 40px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 79px;
    margin-bottom: 57px;
  }
}